.react-datepicker-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  top: 2px;
}

.react-datepicker__view-calendar-icon input {
  padding-left: 30px !important;
  outline: none;
}
